.cont {
    display: flex;
    width: 430px;
    height: 430px;
    border-color: black;
    border: 1px;
    margin: auto;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: space-between;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}
.output{
    display: flex;
    background-color: darkseagreen;
    padding: 8px;
}

.numbers {
    background-color: aliceblue;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}

.operators{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.num{
    padding: 9px;
}

.spec {
    font-size: 10px;
}