.body{
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.cont {
    display: flex;
    background-color:darkslategrey;
    flex-direction: column;
    padding: 8px;
    padding-top: 16px;
}

.bottom {
    flex-direction: row;
    justify-content: space-between;
}

.output{
    display: flex;
    background-color: darkseagreen;
    padding: 8px;
    height: 50px;
    width: 200px;
    margin-bottom: 12px;
    justify-content: flex-end;
    align-items: end;
    font-size: x-large;
}

button {
    border-radius: 30px;
    aspect-ratio: 1/1;
    height: 50px;
    width: 50px;
    font-size: large;
    font-weight: bold;
    color: white;
    border: 2px solid white;
}

.numbers {
    background-color: darkslategrey;
    flex-direction: row;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px 3px;
    padding-bottom: 3px;
}

.num {
    background-color:dimgrey;
}

.op, .spec {
    background-color: gray;
}